#container {
    background: #fff;
    width: 800px;
    margin: 10px auto;
}

body {
    background: #007fc7;
}

 /* .noticia {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    padding: 3px;
    float: left;
}*/